*{
  box-sizing: border-box;
	font-family: Ariel, sans-serif;
}

#title-header {
  background-image: url("../img/Antibes_1.JPG");

  background-color: #cccccc; /* Used if the image is unavailable */
  height: 350px; /* You must set a specified height */
  background-position: 100% 40%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
	
	text-align: center;

	margin: 0;
	padding: 25px;
	border: 1px solid orange;
}

#main-title {
	box-sizing: border-box;
	font-size: 400%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding: 10px;
	border: 0;
	line-height: 95%;
}

.main {
	font-family: Ariel Bold, sans-serif;
	color: white;
}

h3.main {
	box-sizing: border-box;
	font-size: 150%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 15px;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	line-height: 99%;
}

.pct80-section {
	position: relative;
	height: 300px;
	width: 80%;
	left: 0;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

.pct20-section {
	position: absolute;
	width: 20%;
	left: 0;
}

.pct95-section {
	position: absolute;
	width: 95%;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	/* border: 1px solid green; */
}

.absolute-margin-100px {
	margin: 0;
	padding: 10px;
	position: relative;
	border: 1px solid orange;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.stealth {
	opacity: 0;
}

.navbar{
	background: transparent;
}

table {
	table-layout: fixed;
	width: 95%;
	border-collapse: separate;
}

th {
	font-weight: bold;
	text-align: center;
}

tr {
	text-align: right;
}

table, th, td {
  border: 1px solid orange;
}

.right-position {
	width: 45%;
	position: absolute;
	right: 0;
}

.left-position {
	width: 55%;
	position: absolute;
	left: 0;
}
